/*Global*/
body {
    background: #edeef0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.focus {
    margin-bottom: 20px;
}

/*Logo*/
#logo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: white;
    padding-top: 7px;
}

#dash, #mobile-dash {
    color: #249d3d;
}

#mobile-logo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: white;
    margin-left: -40px;
}


/*Nav and Side Bar*/
#sidebar {
    min-width: 200px;
    max-width: 200px;
    height: 100vh;
    background-color: #2e3338;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
}

#mobile-nav {
    display: none;
}

.navbar-nav {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

/*Sidebar menu*/
.sidebar-list {
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.sidebar-item {
    padding: 6px;
    color: #95A5A6;
    padding-left: 45px;
}

.sidebar-item:hover {
    background-color: #344146;
    color: white;
}

.sidebar-active {
    background-color: #344146;
    border-left: solid 5px #249d3d;
    padding: 6px;
    color: #ecf0f1;
    padding-left: 40px;
}

/*Content*/
#content {
    margin-left: 200px;
    margin-top: 10px;
}

#content-container {
    width: 95%;
    margin: 0 auto;
}

#content h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

/*Overview*/
/*graph*/
.graph-header {
    width: 100%;
    height: 40px;
    padding: 4px 15px;
}

.graph-header ul {
    padding: 3px 0px;
}

.graph-header a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.graph-active {
     border-bottom: 3px solid black;
}

.graph {
    width: 100%;
    background-color: white;
    clear: both;
}

#detailedChart {
    margin-top: 25px;
}

.panel-title {
    border-bottom: solid 1px grey;
}

canvas {
    min-height: 350px;
    max-height: 350px;
}

.otherCoins {
    margin-bottom: 0px;
}

/*detailed*/
#detailed-header ul {
    margin-bottom: 0px;
}

.news-paragraph {
    margin-bottom: 0px;
}

.newsItem {
    margin-bottom: 15px;
}

#dtl-coin-about-link, .news-title {
    color: black;
}

.positive {
    color: #249d3d;
}

.negative {
    color: rgb(210,63,49);
}

/*Media Queries*/
/*Change the menu from sidebar to mobile*/
@media (max-width: 575.99px) { 
    /*Displays Mobile Nav*/
    #mobile-nav {
        display: flex;
    }
    
    /*Hides sidebar*/
    #sidebar { 
        display: none;
    }
    
    /*moves content over (since sidebar is gone)*/
    #content {
        margin-top: 70px;
        margin-left: 0px;
        overflow:hidden;
    }

    canvas {
        min-height: 220px;
        max-height: 220px;
    }

} /* end media queries*/

